*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
    max-width: 1440px;
}

.header {
    width: 100vw;    
    padding: .2em;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgb(41, 41, 114) , rgb(189, 110, 189))
}

.logo {
    background-color: transparent;
}

.logo img{
    width: 100px;
    object-fit: cover;
  
}

.header_item a{
    padding: 3em;
    text-decoration: none;
    color: aliceblue;
    line-height: 3em;
}

.header_search {
    display: flex;
}

.header_search button,
.header_search input {
    border: none;
    background-color: white;
    padding: 5px 10px;
}

.header_search button {
    border-radius: 0 200px 200px 0;
}

.header_search input {
    border-radius: 200px 0 0 200px;
}


.container {
    height: 40vh;
    color: white;
}

.footer {
    width: 100vw;
}

.footer_container {
    padding: 5em 0;
    display: flex;
    margin: auto;
    color: aliceblue;
    background: linear-gradient(-35deg, rgb(41, 41, 114) , rgb(189, 110, 189))
}

.footer_item {
    width: 0;
    flex-grow: 1;
    margin: 0 4em;
}

.footer_item h4{
    font-size: large;
    border-bottom: 1px dotted white;
    padding-bottom: .5em;
}

.footer_item .nav {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

.footer_item .nav a{
    text-decoration: none;
    color: aliceblue;
    line-height: 3em;
}

.footer_item .nav a:hover{
    color: rgb(189, 110, 189);
    font-weight: 700;
}

.footer_subs {
    display: flex;
    flex-direction: column;
}

.footer_subs form{
    display: flex;
    flex-wrap: 1;
    width: 100%;
    margin: auto 0;
}

.footer_subs input[type="text"],
.footer_subs input[type="submit"]{
    border:  none;
    padding: 5px 10px;
}

.footer_subs input[type="text"]{
    width: 0;
    flex-grow: 1;
}

.footer_subs input[type="submit"]{
    color:rgb(189, 110, 189);
    background-color: rgb(7, 7, 90);
}

.copyright {
    background: rgb(7, 7, 90);
    color: rgb(189, 110, 189);
    display: flex;
    justify-content: center;
}

.copyright_txt {
    padding: .9em;
}

